@using Microsoft.AspNetCore.Identity
@using Prosjekt.Entities;
@using Prosjekt.Services;

@inject SignInManager<EmployeeUser> SignInManager
@inject UserManager<EmployeeUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <input type="checkbox" id="toggle" style="display:none;">
        <label for="toggle" class="nav-link d-flex align-items-center">
            <span class="hamburger">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </span>
        </label>
        <ul class="menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" asp-controller="Parts" asp-action="Parts">Deler</a></li>
            <li><a class="dropdown-item" asp-controller="Oversikt" asp-action="Oversikt">Oversikt</a></li>
            <li><a class="dropdown-item" asp-controller="Equipment" asp-action="Equipment">Utstyr</a></li>
            <li><a class="dropdown-item" asp-controller="Notifikasjon" asp-action="Notifikasjon">Notifikasjon</a></li>
            <li><a class="dropdown-item" asp-controller="Arbeidsdokument" asp-action="Arbeidsdokument">Arbeidsdokument</a></li>
            <li><a class="dropdown-item" asp-controller="Brukeroversikt" asp-action="Brukeroversikt">Brukeroversikt</a></li>
            <li><a class="dropdown-item" asp-controller="Employees" asp-action="Employees">Brukeroversikt</a></li>
            <li><a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a></li>
        </ul>
        }
    @if (User.IsInRole("Mekanisk") || User.IsInRole("Hydraulisk") || User.IsInRole("Elektro"))
    {
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <input type="checkbox" id="toggle" style="display:none;">
            <label for="toggle" class="nav-link d-flex align-items-center">
                <span class="hamburger">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </span>
            </label>
            <ul class="menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" asp-controller="Parts" asp-action="Parts">Deler</a></li>
                <li><a class="dropdown-item" asp-controller="Equipment" asp-action="Equipment">Utstyr</a></li>
                <li><a class="dropdown-item" asp-controller="Oversikt" asp-action="Oversikt">Oversikt</a></li>
            <li><a class="dropdown-item" asp-controller="Arbeidsdokument" asp-action="Arbeidsdokument">Arbeidsdokument</a></li>
            <li><a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a></li>
        </ul>
        }
    }
}
else
{
    <input type="checkbox" id="toggle" style="display:none;">
    <label for="toggle" class="nav-link d-flex align-items-center">
        <span class="hamburger">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </span>
    </label>
    <ul class="menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" asp-controller="Home" asp-action="Privacy">Personvern</a></li>
        <li><a class="dropdown-item" asp-controller="Kontakt" asp-action="KontaktOss">Kontakt oss</a></li>
        <li><a class="dropdown-item" asp-controller="FAQ" asp-action="FAQ">FAQ</a></li>
        <li><a class="dropdown-item" asp-controller="OmOss" asp-action="OmOss">Om Oss</a></li>

        <li><a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>

    </ul>
}