@{
    ViewData["Title"] = "Brukeroversikt";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nøsted & Om oss</title>
    <link href="Om_Oss.css" rel="stylesheet">
</head>

<body>

    <main>
        <h1>Om Nøsted &</h1>
        <nav>
            <ul class="navlinks">
                <li><a href="#OmNøsted&">Om Nøsted &</a></li>
                <li><a href="#VåreMerkevarer">Våre merkevarer</a></li>
                <li><a href="#VisjonOgVerdier">Visjon og verdier</a></li>
                <li><a href="#Produksjon">Produksjon</a></li>
                <li><a href="#Historie">Historie</a></li>
            </ul>
        </nav>
        <section id="OmNøsted&">
            <p>
                Nøsted & AS er et norsk familieeid industrikonsern  med hovedkontor
                i Mandal.
            </p>

            <p>
                Bedriftens historie startet da Alf Nøsted i 1939 etablerte Norsk Kjettingindustri
                AS i Mandal. Derfra har bedriften sakte, men sikkert vokst gjennom organisk
                vekst og oppkjøp, til i dag å være et globalt industrikonsern med 370 ansatte i
                fire land som utvikler, produserer og leverer produkter og løsninger til en rekke
                formål.
                Våre tre største produktsegmenter er:
            </p>

            <ul>
                <li>
                    Hjulkjetting til skogs- og anleggsmaskiner, traktorer og tungtransport unde
                    merkenavnet TRYGG
                </li>
                <li>
                    Løftekjetting og komponenter til offshorebransjen, trålkjetting og kjetting
                    og redskap til sikring av oppdrettsanlegg under merkenavnet FRAM
                </li>
                <li>
                    Traktorredskap, der vi utvikler ulike typer redskap til bruk innenfor både
                    skog- og landbruk under merkenavnet IGLAND
                </li>
            </ul>
        </section>

        <section id="VåreMerkevarer">
            <h1>Våre merkevarer</h1>
            <p>
                Nøsted & produserer varer og tjenester under merkenavnene Igland, Trygg og Fram.
                I tillegg har vi agenturet på det amerikanske høykvalitetsproduktet Sligmax,
                fiberstopper til løft, som produseres ved våre lokale i Kragerø. Vi forhandler også
                Yoke produkter.
            </p>

            <div>
                <div class="Trygg">
                    <img src="~/images/trygg.png" id="tryggbilde" onclick="showTrygg()">
                    <div id="tryggtekst">
                        <p>
                            TRYGG har vært en sterk merkevare i over 80 år. TRYGG kjetting er verdensledende,
                            og designes, utvikles og produseres av Nøsted & på Norges eneste kjettingfabrikk.
                            Kjettingfabrikken på 10.000 kvm som ligger ved utløpet av Mandalselva produserer
                            kjetting til bruk innen transport, landbruk, anlegg, skogbruk, fiskeri, oppdrett,
                            industri, olje og offshore.
                        </p>
                        <p>
                            TRYGG porteføljen består av et bredt utvalg
                            kjetting til hjulgående kjøretøy, fra mindre kjøretøy til de største anleggs- og
                            skogsmaskinene. TRYGG skogsbelter ble introdusert høsten 2020 og er et resultat av
                            flere års testing og utvikling.
                        </p>
                    </div>
                </div>
                <script>function showTrygg() {
                    var x = document.getElementById("tryggtekst");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }</script>

                <div class="Igland">
                    <img src="~/images/igland.png" id="iglandbilde" onclick="showIgland()">
                    <div id="iglandtekst">
                        <p>
                            IGLAND ble etablert i 1947 og har vært en del av porteføljen til Nøsted & siden
                            2001. IGLAND er et verdenskjent varemerke innen utstyr til landbrukstraktoren.
                            Produktporteføljen omfatter skogsvinsjer, tømmervogner, utstyr for løft, snørydding
                            og veivedlikehold. Iglands to-tromlede vinsj er Europas mest solgte gjennom tidene.
                            Bedriftens grunnlegger, Per Igland, ble i 1981 tildelt Kongens fortjenestemedalje i
                            gull for sin utvikling av effektive metoder, maskiner og utstyr for landbruket.
                            IGLAND-produktene har i over 70 år vært ledende innen effektiv driftsteknikk for
                            landbrukstraktorer og produktene eksporteres til store deler av Europa, Afrika,
                            Sør-Amerika, USA og Canada.
                        </p>
                    </div>
                </div>
                <script>function showIgland() {
                    var x = document.getElementById("iglandtekst");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }</script>

                <div class="FRAM">
                    <img src="~/images/fram.png" id="frambilde" onclick="showFram()">
                    <div id="framtekst">
                        <p>
                            FRAM merkevaren ble etablert av Kjættingfabriken AS i 1909 og har siden 2001 vært en
                            del av Nøsted & konsernet. Nøsted & produserer varer og tjenester under merkenavnet FRAM,
                            og er en av Europas ledende produsenter og leverandører av kjetting og komponenter til løft,
                            forankring, surring og trål. Vi var først i verden til å produsere Alloy kjetting, som vi i
                            dag kjenner som grade 80 kjetting. Under FRAM finner du også flere typer godkjente og type
                            eksaminerte produkter av DNV innen løft og livbåt oppheng, samt produktsertifisert kjetting
                            og komponenter av Aquastructures til forankring av oppdrettsanlegg.
                        </p>
                    </div>
                </div>

                <script>function showFram() {
                    var x = document.getElementById("framtekst");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }</script>
            </div>
        </section>

        <section id="VisjonOgVerdier">
            <h1>Visjon og verdier</h1>
            <p>Vår visjon er å skape</p>
            <p id="spesiell">nye muligheter for varige forbindelser</p>
            <p>
                Alt handler om koblinger. Hver kobling er en ny mulighet inn i varige forbindelser. Når vi jobber
                sammen - og sammen med våre kunder og partnere - er vi med i defineringen av hva fremtidens løsninger
                skal være.
            </p>
        </section>

        <section id="Produksjon">
            <h1>Produksjon</h1>
            <p>
                Vi produserer våre produkter på våre fabrikker i Mandal, Kragerø og i Lithauen. Produktutvikling,
                laboratorie og forskning gjøres på vår fabrikk i Mandal.
            </p>

            <div>
                <div class="Kvalitet">
                    <h3>Kvalitet</h3>
                    <p>
                        Kvalitet har høyeste fokus i alt vi foretar oss. Kvalitetssystemet vårt er sertifisert av
                        DNV etter ISO 9001 og inkluderer alle aktiviteter, fra underleverandører til levering av
                        ferdig vare. Vi benytter moderne teknologi i vår produksjon.
                    </p>
                    <p>
                        I 2014 investerte bedriften nærmere 100 millioner kroner i produksjonen, som blant annet
                        omfattet opprettelse av nytt testsenter samt utvikling av en helt ny automatisert
                        produksjonslinje. Vårt herderi er i verdensklasse, og tillater oss å produsere kjetting og
                        komponenter av ekstremt høy kvalitet til ulike formål.
                    </p>
                </div>

                <div class="Forskning">
                    <h3>Forskning og utvikling</h3>
                    <p>
                        Nøsted & har i alle år ledet produktutviklingen og det skal vi fortsette med. Vi deltar i
                        flere store forsknings- og utviklingsrelaterte prosjekter sammen med andre globalt anerkjente
                        selskaper og forskningsinstitusjoner. Nøsted & bidrar til forskning og utvikling av nye produkter,
                        materialer og produksjonsmetoder for å sikre våre kunder det aller beste produktet til sitt formål.
                    </p>
                    <p>
                        Vi har lange tradisjoner for å samarbeide med kunden om å ta fram de beste kundespesifikke løsningene,
                        blant annet har vi levert spesialkjetting til svært anerkjente aktører innen seismikk, skipsbygging og
                        oljeservice.
                    </p>
                </div>

                <div class="Miljø">
                    <h3>Miljø og bærekraft</h3>
                    <p>
                        Nøsted & er forpliktet til kontinuerlig å minimere vårt miljøavtrykk. Gjennom vårt ISO sertifiserte
                        ledelsessystem har vi sørget for at miljø og bærekraft er en viktig faktor i alle forbedrings- og
                        beslutningsprosesser, og er inkludert i våre strategiske mål. Vi er 14001 Miljøledelse sertifisert.
                        Vi har blant annet et sterkt fokus på miljø og energieffektivisering, og benytter oss av moderne verktøy
                        for energiledelse og reduksjon av energiforbruk. I 2014 utviklet Nøsted & bransjens mest energivennlige
                        produksjonsmetode for kjetting.
                    </p>
                    <p>
                        «Her tar Nøsted virkelig grep og går for bransjens mest effektive og energivennlige produksjon. En halvering
                        av energiforbruket er det ikke mange fabrikker som får til. Dette viser hvilke resultater nytenkning kan gi,
                        sier Enova-sjefen, Nils Kristian Nakstad.»
                    </p>
                </div>
            </div>
        </section>

        <section id="Historie">
            <h1>Historie</h1>
            <p>
                Gjennom langsiktige relasjoner, smarte etableringer og strategiske oppkjøp, har vi bygget sten på sten for å utvikle
                et selskap som er til det beste for vårt fellesskap og det samfunnet vi er en del av. Samlet representerer vi stolte
                merkevarer og mer enn 350 års produksjonserfaring. Nøsted & ble etablert i 2019 som et resultat av fusjonering av
                selskapene i det som den gang ble referert til som Nøsted Gruppen. Nøsted Gruppen besto av åtte selvstendige selskap;
                Nøsted Kjetting AS, Igland AS, Kjættingfabriken, AS, Marwin Løfteteknikk AS, Nosted Mechanika UAB og Chaine Select Inc,
                som nå alle er samlet og representert gjennom ett felles selskap – Nøsted &.
            </p>

            <div class="tidslinje">

            </div>
        </section>
    </main>


</body>
</html>


