* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: Kokoro;
}

h2 {
    text-align: center;
}

.container {
    padding: 16px;
    font-family: Kokoro;
    text-align: center;
}

    .container label {
        display: block;
    }

.leggtilbruker {
    background-color: rgb(237, 106, 58);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 25px;
}

.button {
    text-align: center;
}

input {
    width: 40%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input [type=text], select {
        width: 40%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }


.leggtilbruker:hover {
    background-color: rgb(199, 86, 45);
}

/* Chrome, Safari, Edge, Opera -- skjuler pilene i number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox -- skjuler pilene i number input */
input[type=number] {
    -moz-appearance: textfield;
}

/*.underline {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;


}


.underline div {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
}

.underline input[type="text"] {
    width: 100%;
}*/

.stilling {
    position: relative;
    font-family: Kokoro;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.select-selected {
    background-color: aquamarine;
}
