@@page
@model ErrorModel
@{
    ViewData["Title"] = "Arbeidsdokument";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/arbeidsdokument.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Arbeidsdokument</title>

</head>

<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <table>
            <thead>
                <tr>
                    <th>
                        BOOKET
                        SERVICE
                        TIL UKE:
                    </th>
                    <th>
                        Hendelse
                        mottat og reg.
                        ddmmåå
                    </th>
                    <th>Ordrenr.</th>
                    <th>Produkttype</th>
                    <th>
                        Beskrivelse fra
                        kunde
                    </th>
                    <th>Kundeinfo</th>
                    <th>
                        Avtalt levering
                        ddmmåå
                    </th>
                    <th>
                        Produkt mottatt
                        ddmmåå
                    </th>
                    <th>
                        Avtalt
                        ferdigstillelse
                        innen ddmmåå
                    </th>
                    <th>
                        Service ferdig
                        ddmmåå
                    </th>
                    <th>
                        Antall timer på
                        utført service
                    </th>
                    <th>
                        Service
                        skjema
                        JA/NEI
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Uke 1</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Uke 2</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Uke 3</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Uke 4</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>Uke 5</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <!-- Fortsett med resten av ukene -->
            </tbody>
        </table>
</body>

</html>
