@{
    ViewData["Title"] = "Brukeroversikt";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nøsted & Brukeroversikt</title>
    <link href="brukeroversikt.css" rel="stylesheet">
</head>

<body>
    <header>
        <!-- logo + meny -->

        <h1>Brukeroversikt</h1>
    </header>

    <main>
        <h2>Brukere</h2>
        <form action="/search" method="get">
            <input type="search" name="q" id="search-box" placeholder="AnsattID, Fullt navn, Stilling...">
            <input type="submit" value="Search"> <!-- søkeknapp- må finne ut hvordan man kan filtrere søkene -->
        </form>

        <table>
            <thead>
                <tr>
                    <th scope="col">AnsattID</th>
                    <th scope="col">Fullt navn</th>
                    <th scope="col">Stilling</th>
                    <th scope="col">Rettigheter</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="1">1111</td>
                    <td>Atle Antonsen</td>
                    <td>Administrator</td>
                    <td>Legge til/fjerne brukere</td>
                </tr>
                <tr>
                    <td colspan="1">2222</td>
                    <td>Justin Bieber</td>
                    <td>Mekaniker</td>
                    <td>Verktøyoversikt</td>
                </tr>
        </table>
    </main>
</body>
</html>

