@{
    ViewData["Title"] = "Om oss";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nøsted & Om oss</title>
    <link href="om_oss.css" rel="stylesheet">
</head>

<body>

    <main>
        <h1>Om oss</h1>
        <p>text</p>

        <h1>Våre verdier</h1>
        <p>text</p>
    </main>


</body>
</html>

