@{
    ViewData["Title"] = "Om oss";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nøsted & Om oss</title>
    <link href="om_oss.css" rel="stylesheet">
</head>

<body>

    <main>
        <h1>Om Nøsted &</h1>
        <p>
            Nøsted & AS er et norrsk familieeid industrikonsern  med hovedkontor
            i Mandal.
        </p>

        <p>
            Bedriftens historie startet da Alf Nøsted i 1939 etablerte Norsk Kjettingindustri
            AS i Mandal. Derfra har bedriften sakte, men sikkert vokst gjennom organisk
            vekst og oppkjøp, til i dag å være et globalt industrikonsern med 370 ansatte i
            fire land som utvikler, produserrer og leverer produkter og løsninger til en rekke
            formål.
            Våre tre største produktsegmenter er:
        </p>

        <ul>
            <li>
                Hjulkjetting til skogs- og anleggsmaskiner, traktorer og tungtransport unde
                merkenavnet TRYGG
            </li>
            <li>
                Løftekjetting og komponenter til offshorebransjen, trålkjetting og kjetting
                og redskap til sikring av oppdrettsanlegg under merkenavnet FRAM
            </li>
            <li>
                Traktorredskap, der vi utvikler ulike typer redskap til bruk innenfor både
                skog- og landbruk under merkenavnet IGLAND
            </li>
        </ul>

        <h1>Våre verdier</h1>
        <p>text</p>
    </main>


</body>
</html>

