page
@model IndexModel
@{
    ViewData["Title"] = "Serviceordre";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="./EmptyCSSFile.css" rel="stylesheet" />
</head>
<body>
    <div class="color">
        <fieldset>
            <legend>Ny Serviceordre</legend>
            <form>
                <div class="first">
                    <div class="Row1">
                        <div class="one">
                            <label id="produktype" name="produkttype">Produkttype</label>
                            <br />
                            <input for="produkttype" type="text" required />
                        </div>

                        <div class="one">
                            <label id="årsmodell" name="årsmodell">Årsmodell</label>
                            <br />
                            <input for="årsmodell" type="text" required />
                        </div>

                    </div>
                    <div class="Row1">
                        <div class="one">
                            <label id="mottattDato" name="mottattdato">Mottatt dato</label>
                            <br />
                            <input for="mottattDato" type="date" required />
                        </div>
                        <div class="one">
                            <label id="serienummer" name="serienummer">Serienummer</label>
                            <br />
                            <input for="serienummer" type="text" required />
                        </div>
                    </div>
                </div>
                <div class="Row3">
                    <label id="navn" navn="navn">Fullt navn</label>
                    <br />
                    <input type="text" for="navn" required>
                </div>
                <div class="Row3">
                    <label id="adresse" navn="adresse">Adresse</label>
                    <br />
                    <input type="text" for="adresse" required>
                </div>
                <div class="first">
                    <div class="Row1">
                        <div class="one">
                            <label id="sted" name="sted">Sted</label>
                            <br />
                            <input for="sted" type="text" />
                        </div>

                        <div class="one">
                            <label id="epost" name="epost">Epost</label>
                            <br />
                            <input for="epost" type="email" required />
                        </div>

                    </div>
                    <div class="Row1">
                        <div class="one">
                            <label id="postnummer" name="postnummer">Postnummer</label>
                            <br />
                            <input for="postnummer" type="number" />
                        </div>
                        <div class="one">
                            <label id="mobilnummer" name="mobilnummer">Mobilnummer</label>
                            <br />
                            <input for="mobilnummer" type="tel" required />
                        </div>
                    </div>
                </div>
                <div class="first">
                    <div class="Row1">
                        <div class="one">
                            <label id="garanti" name="garanti">Garanti</label>
                            <br />
                            <input for="garanti" type="text" />
                        </div>
                    </div>
                    <div class="Row1">
                        <div class="one">
                            <label id="service" name="service">Service/rep</label>
                            <br />
                            <input for="service" type="text" />
                        </div>
                    </div>
                </div>
                <div class="textboxs">
                    <label for="beskrivelse"> Hva som er avtalt med kunden:</label>
                    <br />
                    <textarea id="beskrivelse" name="beskrivelse" required></textarea>
                </div>
                <div class="send">
                    <input type="submit" id="submit" value="Send inn">
                </div>

            </form>
        </fieldset>
    </div>
</body>
</html>

