@model Prosjekt.Models.ServiceOrdre.ServiceOrdreModell;
@{
    ViewData["Title"] = "Serviceordre";
}
<!--"color" er bakgrunnsfargen på sjemaet-->
<div class="color">
    <fieldset>
        <legend>Ny Serviceordre</legend>

        <!--lager et form som samler inn brukerinnspill, asp-action -> påkalle metoden Save, asp-controller
            -> spesifisere hvilke kontroller som inneholder Save, method Post -> brukes når man skal sende inn en form for å lagre store dataer-->
        <form asp-action="Save" asp-controller="ServiceOrder" method="post">

            <!--delt opp serviceordre i bokser for å kunne kontrollere innholdet bedre -->
            <div class="first">
                <div class="Row1">
                    <div class="one">
                        <label id="produktype" name="produkttype">Produkttype</label>
                        <br />
                        <input for="produkttype" type="text" asp-for="produkttype" required />
                    </div>

                    <div class="one">
                        <label id="årsmodell" name="årsmodell">Årsmodell</label>
                        <br />
                        <input for="årsmodell" type="text" asp-for="årsmodell" required />
                    </div>

                </div>
                <div class="Row1">
                    <div class="one">
                        <label id="mottattDato" name="mottattdato">Mottatt dato</label>
                        <br />
                        <input for="mottattDato" type="date" asp-for="mottattDato" required />
                    </div>
                    <div class="one">
                        <label id="serienummer" name="serienummer">Serienummer</label>
                        <br />
                        <input for="serienummer" type="text" asp-for="serienummer" required />
                    </div>
                </div>
            </div>
            <div class="Row3">
                <label id="navn" navn="navn">Fullt navn</label>
                <br />
                <input type="text" for="navn" asp-for="fulltNavn" required>
            </div>
            <div class="Row3">
                <label id="adresse" navn="adresse">Adresse</label>
                <br />
                <input type="text" for="adresse" asp-for="adresse" required>
            </div>
            <div class="first">
                <div class="Row1">
                    <div class="one">
                        <label id="sted" name="sted">Sted</label>
                        <br />
                        <input for="sted" type="text" asp-for="sted" required/>
                    </div>

                    <div class="one">
                        <label id="epost" name="epost">Epost</label>
                        <br />
                        <input for="epost" type="email" asp-for="epost" required />
                    </div>

                </div>
                <div class="Row1">
                    <div class="one">
                        <label id="postnummer" name="postnummer">Postnummer</label>
                        <br />
                        <input for="postnummer" type="number" asp-for="postnummer" required />
                    </div>
                    <div class="one">
                        <label id="mobilnummer" name="mobilnummer">Mobilnummer</label>
                        <br />
                        <input for="mobilnummer" type="tel" asp-for="mobilnummer" required />
                    </div>
                </div>
            </div>
            <div class="first">
                <div class="Row1">
                    <div class="one">
                        <label id="garanti" name="garanti">Garanti</label>
                        <br />
                        <input for="garanti" type="text" asp-for="garanti"/>
                    </div>
                </div>
                <div class="Row1">
                    <div class="one">
                        <label id="service" name="service">Service/rep</label>
                        <br />
                        <input for="service" type="text" asp-for="service_rep" />
                    </div>
                </div>
            </div>
            <div class="textboxs">
                <label for="beskrivelse"> Hva som er avtalt med kunden:</label>
                <br />
                <textarea id="beskrivelse" name="beskrivelse" asp-for="avtaleBeskrivelse" required></textarea>
            </div>
            <div class="send">
                <input type="submit" id="submit" value="Send inn">
            </div>

        </form>
    </fieldset>
</div>

