@model Prosjekt.Models.ServiceOrdre.ServiceOrdreModel;
@{
    ViewData["Title"] = "Serviceordre";
}
<div class="card w-75 mx-auto mt-5">
    <h1>Opprett ny serviceordre</h1>
    <form asp-action="Save" asp-controller="ServiceOrdre" method="post">
        @Html.BeginForm("Save", "ServiceOrder")
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="produkttype">Produkttype:</label>
                <input type="text" class="form-control" id="produkttype" asp-for="produkttype" placeholder="Produkttype">
            </div>
            <div class="form-group col-sm-6">
                <label for="mottattDato">Motatt dato:</label>
                <input type="date" class="form-control" id="mottattDato" asp-for="mottattDato">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="årsmodell">Årsmodell:</label>
                <input type="text" class="form-control" id="årsmodell" asp-for="årsmodell" placeholder="Årsmodell">
            </div>
            <div class="form-group col-md-6">
                <label for="serienummer">Serienummer:</label>
                <input type="text" class="form-control" id="serienummer" asp-for="serienummer" placeholder="Serienummer">
            </div>
        </div>
        <div class="form-group">
            <label for="navn">Fullt navn:</label>
            <input type="text" class="form-control" id="navn" asp-for="fulltNavn" placeholder="Fullt navn">
        </div>
        <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" class="form-control" id="adresse" asp-for="adresse" placeholder="Adresse">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sted">Sted:</label>
                <input type="text" class="form-control" id="sted" asp-for="sted" placeholder="Sted">
            </div>
            <div class="form-group col-md-6">
                <label for="postnummer">Postnummer:</label>
                <input type="number" class="form-control" id="postnummer" asp-for="postnummer" placeholder="Postnummer">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="epost">E-post:</label>
                <input type="email" class="form-control" id="epost" asp-for="epost" placeholder="E-post">
            </div>
            <div class="form-group col-md-6">
                <label for="mobilnummer">Mobilnummer:</label>
                <input type="tel" class="form-control" id="mobilnummer" asp-for="mobilnummer" placeholder="Mobilnummer">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="garanti">Garanti:</label>
                <input type="text" class="form-control" id="garanti" asp-for="garanti" placeholder="Garanti">
            </div>
            <div class="form-group col-md-6">
                <label for="service">Service/rep:</label>
                <input type="text" class="form-control" id="service" asp-for="service_rep" placeholder="Service/rep">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="beskrivelse">Hva som er avtalt med kunden:</label>
                <textarea class="form-control" id="beskrivelse" asp-for="avtaleBeskrivelse" placeholder="Skriv her..."></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Send inn</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>
