@using Prosjekt.Models.Parts;
@model Prosjekt.Models.Services.FormViewModel;
@{
    ViewData["Title"] = "Serviceskjema - legg til deler";
}
<div class="card w-75 mx-auto" style="margin-bottom: 50px; margin-top: 50px;">
    <h1 style="margin-bottom: 30px;">Serviceskjema</h1>
    @using (Html.BeginForm("SavePart", "ServiceSkjema", FormMethod.Post, new { id = "formSkjema", onsubmit = "return confirm('Er du sikker på du ønsker å sende inn serviceskjema?');" }))
    {
        
        @Html.AntiForgeryToken()

        <h3 style="margin-bottom: 30px;"> Medgått deler</h3>
        <div class="form-row my-0">
            <div class="form-group col-md-6">
                <label class="label-i" for="UsedPartName_str">Navn</label>
                <input type="text" class="form-control" id="UsedPartName_str" asp-for="UsedPartName_str">
            </div>
            <div class="form-group col-md-6">
                <label class="label-i" for="UsedQuantity_available_int">Antall</label>
                <input type="number" class="form-control" id="UsedQuantity_available_int" asp-for="UsedQuantity_available_int">
            </div>
        </div>

        <h3 style="margin-bottom: 30px;"> Returnde deler</h3>
        <div class="form-row my-0">
            <div class="form-group col-md-6">
                <label class="label-i" for="UsedPartName_str">Navn</label>
                <input type="text" class="form-control" id="UsedPartName_str" asp-for="ReplacePartName_str">
            </div>
            <div class="form-group col-md-6">
                <label class="label-i" for="UsedQuantity_available_int">Antall</label>
                <input type="number" class="form-control" id="UsedQuantity_available_int" asp-for="UsedQuantity_available_int">
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 30px;">
            <button type="reset" class="btn btn-danger button-spacing" onclick="confirmReset()">Reset</button>
            <button type="submit" class="btn btn-primary button-spacing">Legg til</button>
            <button type="button" class="btn btn-primary button-spacing"> <a asp-controller="Serviceskjema" asp-action="Sign">Neste</a></button>
        </div>
        <script>
            function confirmReset() {
                var ok = confirm("Er du sikker på du ønsker å resette serviceskjemaet?");
                if (ok) {
                    // hvis brukeren trykker på ok, vil alt bli resettet.
                    document.getElementById("formSkjema").reset();
                }
            }
        </script>
    }
</div>

<div class="card w-75 mx-auto" style="margin-bottom: 50px; margin-top: 50px;">
    <h1 style="margin-bottom: 30px;">Serviceskjema</h1>
    @using (Html.BeginForm("addSign", "ServiceSkjema", FormMethod.Post, new { id = "formSkjema", onsubmit = "return confirm('Er du sikker på du ønsker å sende inn serviceskjema?');" }))
    {

        @Html.AntiForgeryToken()
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="signKunde">Sign. Kunde:</label>
                <input type="text" class="form-control" id="signKunde" asp-for="signKunde">
            </div>
            <div class="form-group col-md-6">
                <label for="signRep">Sign. Reperatør:</label>
                <input type="text" class="form-control" id="signRep" asp-for="signRep">
            </div>
            <div class="form-row my-0">
                <div class="form-group col-md-6">
                    <label class="label-i" for="signDato">Dato:</label>
                    <input type="date" class="form-control" id="signDato" asp-for="signDato" required>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 30px;">
            <button type="reset" class="btn btn-danger button-spacing" onclick="confirmReset()">Reset</button>
            <button type="submit" class="btn btn-primary button-spacing">Send inn</button>
        </div>
        <script>
            function confirmReset() {
                var ok = confirm("Er du sikker på du ønsker å resette serviceskjemaet?");
                if (ok) {
                    // hvis brukeren trykker på ok, vil alt bli resettet.
                    document.getElementById("formSkjema").reset();
                }
            }
        </script>
    }
</div>