@model Prosjekt.Models.ServiceFormModel;
@{
    ViewData["Title"] = "Serviceskjema";
}

<div class="card w-75 mx-auto mt-5">
    <h1>Serviceskjema</h1>
    <form asp-action="Save" asp-controller="ServiceSkjema" method="post">
        <div class="søkebar">
            <!-- denne koden har jeg tatt fra nettet-->
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Søk på Ordrenummer">
                        <button class="btn btn-primary">Søk</button>
                    </div>
                </div>
            </div>
            <!-- her skal serviceordre komme opp-->
        </div>
        <div class="card">
            <div class="form-row my-0">
                <div class="form-group col-md-12">
                    <label for="reperasjonsbeskrivelse">Reperasjons beskrivelse:</label>
                    <textarea class="form-control" id="reperasjonsbeskrivelse" placeholder="Skriv her..." asp-for="Repairdescription_str" required></textarea>
                </div>
            </div>
            <div class="form-row my-0">
                <div class="form-group col-md-12">
                    <label class="label-i" for="MedgåtteDeler">Medgåtte deler:</label>
                    <textarea class="form-control" id="MedgåtteDeler" placeholder="Skriv her..." asp-for="UsedPart.PartID_int" required> </textarea>
                </div>
            </div>
            <div class="form-row my-0">
                <div class="form-group col-md-6">
                    <label class="label-i" for="ferdigDato">Ferdigstilt dato:</label>
                    <input type="date" class="form-control" id="ferdigDato" asp-for="ServiceCompleted_date" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-i" for="ServiceCompleted_date">Service ferdig dato:</label>
                    <input type="date" class="form-control" id="ServiceCompleted_date" asp-for="ServiceCompleted_date" required>
                </div>
            </div>
            <div class="form-row my-0">
                <div class="form-group col-md-6">
                    <label class="label-i" for="AgreedDelivery_date">Avtalt levering dato:</label>
                    <input type="date" class="form-control" id="AgreedDelivery_date" asp-for="AgreedDelivery_date" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="label-i" for="BookedServiceWeek_int">Produkt mottat dato:</label>
                    <input type="date" class="form-control" id="BookedServiceWeek_int" asp-for="BookedServiceWeek_int" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="BookedServiceWeek_int">Booket serivce uke:</label>
                    <input type="number" class="form-control" id="BookedServiceWeek_int" asp-for="BookedServiceWeek_int" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="Working_Hours_int">Arbeidstimer:</label>
                    <input type="number" class="form-control" id="Working_Hours_int" asp-for="ServiceFormEmployee.Working_Hours_int" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="utskiftetDelerRetur">Utskiftet deler returnert:</label>
                    <input type="text" class="form-control" id="utskiftetDelerRetur" asp-for="ReplacedPartsReturned.PartID_int" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="ShippingMethod_str">Forsendelsemåte:</label>
                    <input type="text" class="form-control" id="ShippingMethod_str" required asp-for="ShippingMethod_str" required>
                </div>
            </div>
            <!-- litt usikker akkurat nå hvordan sign. kunde og reperatør skal ordnes akkurat nå.-->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="signKunde">Sign. Kunde:</label>
                    <input type="text" class="form-control" id="signKunde">
                </div>
                <div class="form-group col-md-6">
                    <label for="signRep">Sign. Reperatør:</label>
                    <input type="text" class="form-control" id="signRep">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Send inn</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
</div>

