@model Prosjekt.Models.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="card w-25 mx-auto align-content-center align-items-center p-5 mt-xl-5" style="background-color:white !important;">
    <div id="forgotPassword-form">
        @using (Html.BeginForm("ForgotPassword", "Login"))
        {
            @Html.AntiForgeryToken()
            <div class="card-title p-4">
                <h2 class="text-center">Glemt Passsord</h2>
            </div>
                
            <div class="card-body p-2">
                <div class="row">
                    <h5>Email</h5>
                </div>
                <div class="row p-3">
                    <input type="email" class="form-control" placeholder="Email" required="" asp-for="Email_str"/>
                </div>
                    
                <div class="row p-2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset passord</button>
                </div>
                <div class="row py-2">
                    @Html.ActionLink("Tilbake innlogin", "Login", "Login", null, new {@class = "text-center"})
                </div>
            </div>
        }
    </div>
</div>