
@{
    ViewData["Title"] = "Login";
}



<div class="login-container">
    <h2>Velkommen til Nøsted &</h2>
        <form action="YOUR_SERVER_ENDPOINT" method="post">
            <input type="text" name="username" placeholder="Brukernavn" required class="login-input">
            <input type="password" name="password" placeholder="Passord" required class="login-input">
            <button type="submit" class="login-button">Logg inn</button>
        </form>
</div>
