@model LoginModel;
@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h2>Velkommen til Nøsted &</h2>

    <!--    @Html.ValidationSummary(true, "", new { @class = "text-danger" })  -->
    @using (Html.BeginForm("LoginFrom", "Login"))
                    {
                            @Html.AntiForgeryToken()
        <input type="text" name="Username" placeholder="Brukernavn" required class="login-input" asp-for="Username" >
        <input type="password" name="Password" placeholder="Passord" required class="login-input" asp-for="Password">
        <button type="submit" class="login-button">Logg inn</button>
                    }
</div>