﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Prosjekt.Entities

@model Prosjekt.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="card w-25 mx-auto align-content-center align-items-center p-5 mt-xl-5" style="background-color:white !important;">

    <div id="login-form">
        @using (Html.BeginForm("LoginUser", "Login"))
        {
            @Html.AntiForgeryToken()
            <div class="card-title p-4">
                <h2 class="text-center">Velkommen til Nøsted &</h2>
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <h5>Email</h5>
                </div>
                <div class="row p-3">
                    <input type="text" class="form-control" placeholder="Email" required="" autofocus="" asp-for="Email_str"/>
                </div>
                <div class="row">
                    <h5>Passord</h5>
                </div>
                <div class="row p-3">
                    <input type="password" class="form-control" placeholder="Passord" required="" asp-for="Password_str"/>
                </div>
                <div class="row p-2">
                    @Html.ActionLink("Glemt passord", "ForgotPassword", "Login", null)
                </div>
                <div class="row p-2">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Logg inn</button>
                </div>
            </div>
        }
    </div>
    
</div>

   







