@{
    ViewData["Title"] = "Home Page";
}

<!--Karusell-->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/homeTrygg.png" alt="Trygg" class="d-block w-100 img-fluid">
                        <div class="gradient-overlay"></div>
                        <h1 class="text-center mb-8 fixed-top p-3 carousel-header" style="margin-top: 100px;" >Verdenskjente Varemerker</h1>
                        <div class="carousel-caption">
                            <h3 style="color: white; margin-top: 20px; font-weight: bold;">TRYGG</h3>
                <a id="buttonHome" href="@Url.Action("OmOss","OmOss")" class="btn btn-primary" style="font-size: 18px; margin-top: 20px; margin-bottom: 50px; height: 40px; width: 180px;">Mer Informasjon</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="~/Images/homeIgland.png" alt="Igland" class="d-block w-100 img-fluid">
                        <div class="gradient-overlay"></div>
                        <div class="carousel-caption">
                            <h1 style="color: white; margin-top: 100px;" class="text-center mb-4 fixed-top p-3 carousel-header">Verdenskjente Varemerker</h1>
                            <h3 style="color: white; margin-top: 20px; font-weight: bold;">IGLAND</h3>
                <a id="buttonHome" href="@Url.Action("OmOss","OmOss")" class="btn btn-primary" style="font-size: 18px; margin-top: 20px; margin-bottom: 50px; height: 40px; width: 180px;">Mer Informasjon</a>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="~/Images/homeFram.png" alt="Fram" class="d-block w-100 carousel-image img-fluid">
                        <div class="gradient-overlay"></div>
                        <div class="carousel-caption">
                            <h1 class="text-center mb-4 fixed-top p-3 carousel-header" style="margin-top: 100px;">Verdenskjente Varemerker</h1>
                            <h3 style="color: white; margin-top: 20px; font-weight: bold;">FRAM</h3>
                <a id="buttonHome" href="@Url.Action("OmOss","OmOss")" class="btn btn-primary" style="font-size: 18px; margin-top: 20px; margin-bottom: 50px; height: 40px; width: 180px;">Mer Informasjon</a>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
          
            <script>
                // JavaScript Code
                $(document).ready(function () {
                    $('#myCarousel').carousel({
                    
                    });
                });
                
            </script>
    




