@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout.cshtml"; 
}

        <section class="header">
            <div class="text-box">
                <h1>Verdenskjent Varemerke</h1>
                <p>
                    IGLAND er et verdenskjent varemerke innen utstyr til landbruk og skogbruk.
                    <br>IGLAND produktene omfatter skogsvinsjer, tømmervogner, utstyr for snørydding,
                    løft og vedlikehold til vei.
                </p>
                <a href="" class="hero-btn">Mer Informasjon</a>
            </div>
        </section>



