@{
    ViewData["Title"] = "Kontakt oss";
}


<h1 class ="m-3">Kontakt oss</h1>
<p>Kom i kontakt med en av våre globale kontorer</p>

<div class="d-flex flex-wrap justify-content-center">
    <div class="InfoKontakt">
        <h1>Igland verksted og servicesenter, Mandal</h1>
        <div>
            <p>
                <img src="~/icons/icons8-map-50.png" alt="kart ikon">
                    Doneheia 17
            </p>
        </div>
        <div>
            <P>
                <img src="~/icons/icons8-headset-50.png" alt="headset ikon">
                +47 372 56 200
            </P>
        </div>
        <div>
            <p>
                <img src="~/icons/icons8-email-50.png" alt="email ikon">
                coporazte@igland-as.com
            </p>
        </div>
    </div>

    <div class="InfoKontakt">
        <h1>Mandal, Norge (hovedkontor)</h1>
        <div>
            <p>
                <img src="~/icons/icons8-map-50.png" alt="kart ikon">
                   Grønviksveien 8, 4515 Mandal, Norway
            </p>
        </div>
        <div>
            <P>
                <img src="~/icons/icons8-headset-50.png" alt="headset ikon">
                +47 3822 72 550
            </P>
        </div>
        <div>
            <p>
                <img src="~/icons/icons8-email-50.png" alt="email ikon">
                post@bosted.com
            </p>
        </div>
    </div>

    <div class="InfoKontakt">
        <h1>Kragerø, Norge</h1>
        <div>
            <p>
                <img src="~/icons/icons8-map-50.png" alt="kart ikon">
                   Industriveien 2 3766 Sannidal, Norway
            </p>
        </div>
        <div>
            <P>
                <img src="~/icons/icons8-headset-50.png" alt="headset ikon">
                +47 372 56 200
            </P>
        </div>
        <div>
            <p>
                <img src="~/icons/icons8-email-50.png" alt="email ikon">
                Fram@framlink.no
            </p>
        </div>
    </div>

    <div class="InfoKontakt">
        <h1>Utena, Lithuania</h1>
        <div>
            <p>
                <img src="~/icons/icons8-map-50.png" alt="kart ikon">
                    J. Basanavičiaus str. 114, LT-28214 Utena. Ph, Lithuania
            </p>
        </div>
        <div>
            <P>
                <img src="~/icons/icons8-headset-50.png" alt="headset ikon">
                +37 033 961 916
            </P>
        </div>
        <div>
            <p>
                <img src="~/icons/icons8-email-50.png" alt="email ikon">
                info@nosted.com
            </p>
        </div>
    </div>

    <div class="InfoKontakt">
        <h1>USA</h1>
        <div>
            <p>
                <img src="~/icons/icons8-map-50.png" alt="kart ikon">
                    PO Box 869 Bonners Ferry, ID 83805 USA
            </p>
        </div>
        <div>
            <P>
                <img src="~/icons/icons8-headset-50.png" alt="headset ikon">
                +1 (208) 267-6215
            </P>
        </div>
        <div>
            <p>
                <img src="~/icons/icons8-email-50.png" alt="email ikon">
                dave.trygg@gmail.com
            </p>
        </div>
    </div>

    <div class="InfoKontakt">
        <h1>Quebec, Canada</h1>
        <div>
            <p>
                <img src="~/icons/icons8-map-50.png" alt="kart ikon">
                    5495, rue Saint-Roch Drummondville (Quebec) J2B 6V4 Canada
            </p>
        </div>
        <div>
            <P>
                <img src="~/icons/icons8-headset-50.png" alt="headset ikon">
                +1 (888) 478-2426
            </P>
        </div>
        <div>
            <p>
                <img src="~/icons/icons8-email-50.png" alt="email ikon">
                christian.tracy@nosted.com
            </p>
        </div>
    </div>
</div>

<div class="container-fluid d-flex">
    <img src="~/images/kontaktoss.jpeg" class="img-fluid" alt="Image 1">
</div>

<h1>Hvordan kan vi hjelpe deg?</h1>
<div class="card border-primary p-3 m-1">
    <form class="form-inline">
        <div class="form-group">
          <label for="navn">Navn:</label>
          <input type="text" class="form-control" id="navn">
        </div>

        <div class="form-group">
          <label for="telefon">Telefon:</label>
          <input type="text" class="form-control" id="telefon">
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="region">Region:</label>
          <input type="text" class="form-control" id="region">
        </div>

        <div class="form-group">
          <label for="melding">Melding:</label>
          <textarea class="form-control" rows="5" id="melding"></textarea>
        </div>

    </form>
</div>

<div class="d-grid gap-2 col-2 mx-auto m-3">
  <button class="btn btn-primary" type="button">Send</button>
</div>