@{
    ViewData["Title"] = "Personvern";
}

<div id="privacy-container" class="container mt-5 p-4">
    <div class="row">
        <div class="row justify-content-center">
         <div class="col-md-8 ">
         
    <h1 class="mb-4">Personvernerklæring for Nøsted & AS</h1>

    <div class="row">
        <div class="col-md-12 ">
            
            <p> Denne personvernerklæringen beskriver Nøsted & AS (referert til som Vi og Våre) retningslinjer og prosedyrer for innsamling, bruk og formidling av din informasjon når DU (person som benytter tjenesten) bruker TJENESTEN (Nosted.com nettsted og integrerte tjenester/teknologier) og beskriver dine personvernrettigheter og hvordan loven beskytter dem.</p>
            <p> Vi bruker personlig data for å tilby og forbedre tjenesten. Gjennom å bruke tjenesten aksepterer du innsamling og bruk av informasjon i overensstemmelse med personvernerklæringen. Denne personvernerklæringen vedlikeholdes av Nøsted & AS.</p>

            <p class="mb-0"><strong>Behandlingsansvarlig</strong></p>
            <p>Nøsted & AS er ansvarlig for behandling av selskapets personopplysninger.</p>

            <p class="mb-0"><strong>Personopplysninger som Lagres</strong></p>
            <p><strong>Personlig data:</strong> Ved bruk av vår tjeneste, kan vi komme til å be om spesifikk personlig identifiserbar informasjon som kan benyttes til å kontakte eller identifisere deg. Personlig informasjon kan inkludere, men ikke begrenset til, følgende punkter:</p>

            <p class="mb-0 col col-md-20"><strong>- Brukerdata:</strong> Samles automatisk ved bruk av tjenesten. Bruker data kan inkludere informasjon som din enhets internett protokoll adresse (i.e. IP adresse), type nettleser, nettleserens versjon, hvilke sider i vår tjeneste du besøker, tid og data fior besøket, tiden brukt på disse sidene, unike enhets identifikatorer og annen diagnostisk data. Vi lagrer også korrespondansen din med forhandleren(e) av produktene våre hvis kommunikasjonen skjer via nettstedet vårt (kontaktskjema).</p>
            <p class="col col-md-20"><strong>- Sporingsteknologi og informasjonskapsler:</strong> Vi lagrer de personopplysningene du har avgitt på våre nettsider.Vi bruker informasjonskapsler/cookies på våre nettsider for å gi deg som besøker siden best kundeopplevelse og service. Lov om elektronisk kommunikasjon krever at vi informerer våre besøkende om bruk av informasjonskapsler (cookies). Les mer om bruk av informasjonskapsler her: https://ec.europa.eu/info/cookies_en</p>

            <p class="mb-0"><strong>Formål med Behandlingen</strong></p>
            <p> Vi bruker innsamlet data til å monitorere ditt navigasjonsmønster på nettstedet, slik at vi kan forbedre brukeropplevelsen gjennom tjenestemodifikasjoner og nye teknologiutviklinger. Vi benytter også opplysningene for å kunne gi deg informasjon, tilbud og service i forbindelse med ditt kjøp via e-post, telefon, SMS og postutsendelser.Vi lagrer i tillegg kjøpshistorikk og adferdsmønster på vår nettside, dvs. opplysninger om hvordan den enkelte kunde navigerer på siden.</p>

            <p class="mb-0"><strong>Grunnlaget for Behandlingen</strong></p>
            <p> Der du har samtykket vil det benyttes også opplysningene til å gi deg informasjon, tilbud og service i forbindelse med ditt kjøp via e-post, telefon og SMS. Grunnlaget for denne behandlingen er personvernforordningen Art 6 (a). Du kan når som helst takke nei til å motta slik informasjon fra oss.Der du har samtykket til det benyttes kjøpshistorikk og adferdsmønster til å gi anbefalinger og reklame spesielt tilpasset deg som bruker. Grunnlaget for denne behandlingen er personvernforordningen Art 6 (a). Du kan når som helst trekke tilbake ditt samtykke til slik bruk.</p>

            <p class="mb-0"><strong>Utlevering av Opplysninger til Tredjeparter</strong></p>
            <p>Vi vil ikke dele, selge, overføre eller på annen måte utlevere personopplysninger til andre, med mindre vi er rettslig forpliktet til det eller med mindre vi ber om tillatelse på forhånd.</p>

            <p class="mb-0"><strong>Sletting av Personopplysninger</strong></p>
            <p> Opplysninger vi etter bokføringsloven er forpliktet til å bevare vil lagres i inntil 5 år, i henhold til lovens krav.</p>

            <p class="mb-0"><strong>Rettigheter for den Registrerte</strong></p>
            <p>Vi behandler dine personopplysninger i henhold til personopplysningsloven og gjeldende forskrifter. Det gjøres oppmerksom på at du kan kreve innsyn i og flytting av egne personopplysninger, samt kreve retting eller sletting av opplysninger.</p>


            <p class="mb-0"><strong>Informasjonssikkerhet</strong></p>
            <p>Vi sikrer dine personopplysninger ved både fysisk og virtuell adgangs- og tilgangskontroll, samt ved kryptering av sensitive deler av avgitte opplysninger. Vi bruker standard Microsoft Azure og Netlify sikkerhetstjenester.</p>

            <p class="mb-0"><strong>Kontaktinformasjon</strong></p>
            <p>Henvendelser om hvilke opplysninger som er registrert, retting og sletting kan sendes skriftlig til følgende adresser:</p>
            <p>Email: <a href="mailto:post@nosted.com">post@nosted.com</a></p>
            <p>Nøsted & AS <br/>Grønviksveien 8, 4515 Mandal, Norway</p>
        </div>
    </div>
</div>
   </div>
</div>


