@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Passordet ditt er tilbakestilt. Vennligst <a asp-page="./Login">Klikk her for å logge inn</a>.
</p>
