@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Send e-post bekreftelse på nytt";
}
<div class="card mx-auto justify-content-center p-5" style="width: 500px; margin-top: 100px; border: 1px solid rgba(0,0,0,0.5);">
<div style="background-color: transparent; text-align: center;"  >
        <img  class="card-img-top" style="border: none; width: 100px; height: 100px; margin-top: 10px; padding-top: 0;" src="~/icons/icons8-send-50.png">
    </div>
<h1 style="text-align: center; margin-bottom: 50px; margin-top: 10px;">@ViewData["Title"]</h1>
<h2 style="text-align: center; margin-bottom: 5px;">Skriv inn din email.</h2>

<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Send på nytt</button>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
