@model Prosjekt.Models.Parts.PartsViewModel;

@{
}

@using (Html.BeginForm("AddPart", "Parts", FormMethod.Post, null))
{

    <div class="form-group">
        <label name="PartID_int">Navn</label>
        <input type="text" class="form-control" asp-for="PartName_str" name="PartName_str" required />
    </div>
    <div class="form-group">
        <label name="Quantity_available_int">Antall</label>
        <input type="number" class="form-control" asp-for="Quantity_available_int" name="Quantity_available_int" required />
    </div>
    <div class="form-group">
        <label name="EquipmentName">Utstyr</label>
        <input type="Text" class="form-control" asp-for="EquipmentName" name=" EquipmentName" required />
    </div>
    <button type="submit" class="btn btn-success">Lagre</button>
}
