@model Prosjekt.Models.Equipment.RemoveEquipmentModel;
@{
    ViewBag.Title = "Equipment";
}

@using (Html.BeginForm("DeleteEquipment", "Equipment", FormMethod.Post, null))
{
    <div class="form-group">
        <label name="Id_int" class="ml-3"><p>Vennligst tast inn ID-nummeret til utstyret du ønsker å slette:</p></label>
        <div class="col">
        <input type="number" class="form-control" asp-for="id" required />
        </div> 
    </div> 
    <button type="submit" class="btn btn-danger mb-2 ml-3 mt-3">Slett</button>
}