#table-bo {
    table-layout: fixed;
}

thead {
    position: sticky;
    z-index: 1;
    top: 0;
}

.h1-bo {
    color: #000000;
}

th {
    position: sticky;
    top: 0;
    z-index: 2;
    border: 1px solid #ddd;
}

#btn-bruker-bo {
    margin-top: 50px;
    color: white;
    font-weight: bold;
}

.modal-dialog {
    background-color: #FBFBFF;
    border-radius: 20px;
}

#modal-pfp-bo {
    width: 150px;
    height: 150px;
    float: left;
}

#additionalInfo {
    width: 100%;
}

#info-modal-bo-2 {
    float: left;
    margin-top: 40px;
    font-weight: bold;
}


