/* highlighting search terms /
.highlight {
    background-color: #D2F69C;
    font-weight: bold;
}


.table-container {
    margin: 20px;
}

/ knappene */
.btn-primary {
    background-color: #C22323;
    color: #FEFEFE;
    padding: 5px 10px;
}