body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.tableHeader {
    background-color: #1A5760;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    header img {
        max-height: 50px;
        width: auto;
    }

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

    nav ul li {
        margin-left: 20px;
    }

.wrapper {
    display: flex;
    justify-content: center; /* Horisontalt sentrering /
    align-items: center; / Vertikalt sentrering /
    height: calc(100vh - 500px); / 100vh er hele skjermens høyde, - 100px for å plassere tabellen litt lenger ned /
    padding-top: 50px; / Skyver tabellen 50px nedover */
}


table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1a576066;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}