.faq-introduction-box {
    background-color: #f8b68b; 
    padding: 10px; 
    border-radius: 8px;
    max-width: 500px; 
    margin: 0 auto; 
    
}
.button-container {
    margin-top: 20px; 
}
.introduction-text {
    color: #000000; 
}


.accordion-button.selected {
    border-color: #FF6700 !important; 
}
.faq-item {
    margin-bottom: 10px;
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none; 
    background-color: #FF6700; 
    color: #000000; 
}

.accordion-button {
    background-color: #ffffff !important; 
    color: #000000; 
    border: 1px solid #000000;
    border-radius: 3px; 
    padding: 10px 15px; 
}

.accordion-button.collapsed {
    background-color: #ffffff; 
}

.accordion-button:hover {
    border-color: #FF6700; 
    color: #000000; 
}

.accordion-body {
    padding: 15px; 
}

