.accordion-button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 18px; /* Increase padding */
    font-size: 18px; /* Adjust font size */
    background-color: #ffffff !important;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 3px;

}

@media (min-width: 768px) {
    .accordion-button {
        margin: 0 auto;
        max-width: 800px;
    }
}

.accordion-body {
    padding: 18px; /* Increase padding */
    text-align: left;
    font-size: 16px; /* Adjust font size */
}

@media (min-width: 768px) {
    .accordion-body {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .accordion-body {
        max-width: 800px;
        margin: 0 auto;
    }
}

.accordion-button.selected {
    border-color: #FF6700 !important; 
}
.faq-item {
    margin-bottom: 10px;
}

.accordion-button:focus,
.accordion-button:active {
    box-shadow: none; 
    background-color: #FF6700; 
    color: #000000; 
}
 

.accordion-button.collapsed {
    background-color: #ffffff; 
}

.accordion-button:hover {
    border-color: #FF6700; 
    color: #000000; 
}






