
.mb-cus {
    margin-bottom: 8rem;
    background-color: white !important;
}


.cus-bg {
    background-color: #dcdcdc !important;
}


.cus-button {
    background-color: darkorange;
    color: #FFFFFF;
    cursor: pointer;
}


/* for notifikasjon */


.alert { /*bakgrunnen*/
    border: 3px solid #e0e0e0;
}


/*bokmerke*/


.bi-bookmark-fill {
    color: orange !important; /* riktig */
}
