#cardOversikt.card {
    border: 2px solid #ddd;
    /*padding: 20px;*/
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Legg til en lett skygge for dybde */
    border-radius: 8px;
    width: 90%;
    background-color: white !important;
}

#colonneOversikt{
    margin-left: 60px;
    padding: 0;
    margin-bottom: 0;
}
/*
#button-addon2 {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin-left: 0;
    padding-left: 0;
    width: 100px;
    
}*/
#button-oversikt{
    border-radius: 0 !important;
    height: 70px !important;
}

#button-oversikt:hover {
    color: black;
    background-color: #FF6700 !important;
    border-color: #FF6700 !important;
}
#søkebarOversikt{
    margin-bottom: 0;
}

#søkebarOversikt:focus{
    box-shadow: none;
    border: 2px solid #FF6700;
}
