.card {
    background-color: transparent !important;
    border: none;
    margin-bottom: 50px;
}
 /* når man trykker på input, så blir border markert i en annen farge*/
.card input:focus {
    box-shadow: none;
    border: 2px solid #FF6700;
}

.button-spacing {
    margin-right: 30px;
}

