body {
    padding-top: 50px;
}


legend {
    font-family: 'Lato', sans-serif;
    color: #eb8d4b;
    font-weight: bold;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.color {
    /*    background-color: #47565e;*/
    background-color: rgba(71, 86, 94, 0.9);
    width: 70%;
    height: auto;
    margin: auto;
}

fieldset {
    border-radius: 0px;
    background-color: transparent;
    margin: auto;
    width: 90%;
    border: hidden;
}

.label-i {
    color: black;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px !important;
}

.input-i {
    margin-top: 0;
    width: 100%;
    margin-bottom: 10px;
}

.first {
    display: flex;
}

.Row1 {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    padding:0;
}

.Row3 {
    margin-left: 5px;
    margin-right: 5px;
}

.textboxs {
    margin-left: 5px;
    margin-right: 5px;
}

.textarea-i {
    width: 100%;
    height: 80px;
    resize: vertical;
  
}

.submit_order {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    justify-content: right;
    margin-right: 5px;
}

    .submit_order input {
        width: 100px;
        height: 35px;
        border-radius: 5px;
        background-color: #d0d8db !important;
        color: #47565e;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Lato';
    }

.submit_order input:hover {
    background-color: #e7792b !important;
    color: white;
    font-weight: bold;
}


