.card {
    background-color: transparent !important;
    border: none;
    margin-bottom: 50px;
}
 /* når man trykker på input, så blir border markert i en annen farge*/
.card input:focus {
    box-shadow: none;
    border: 2px solid #FF6700;
}

.button-spacing {
    margin-right: 30px;
}


.serviceouter-container {
    border: 2px solid #ddd;
    padding: 20px;
    margin: 20px auto; /* Endret for å sentrere containeren */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 60%;
    position: relative;
}

.titleservice {
    margin-bottom: 50px; 
    font-weight: bold; /* Fet skrift */
    color: #333;
    text-align: left;
    
    }


.back-link-container {
    position: absolute; /* Posisjonerer tilbake-lenken absolutt i forhold til serviceouter-container */
    top: 10px; /* Avstand fra toppen av containeren */
    left: 10px; /* Avstand fra venstre side av containeren */
}



