html, body {
    height: 100%
}

html {
    font-size: 14px;
    font-family: Kokoro;
    text-align: center;
}

.footer {
    position: static !important;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.InfoKontakt {
    width: 275px;
    height: 202px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #1A5760;
    margin: 30px;
    padding: 10px;
}

.InfoKontakt h1 {
    font-size: 16px;
}

.InfoKontakt p {
    font-size: 16px;
}

.InfoKontakt img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.border-primary {
    border-radius: 5px;
    border: 2px solid #1A5760 !important;
}

.border-bottom {
    border-bottom: 5px solid #FF6700 !important;
}

.btn-primary {
    background-color: rgba(55, 146, 165, 0.90) !important;
    border-color: rgba(55, 146, 165, 0.90) !important;
}

.border-color {
    border-color: #FB8B24 !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
