@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- hentet og modifsert fra https://codepen.io/Johann-S/pen/yQKmMG?editors=1010 -->
<div id="stepperSjekkliste" class="bs-stepper">
    <div class="bs-stepper-header flex-wrap" role="tablist">
        <div class="step" data-target="#Generell">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste1" aria-controls="Generell">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Generell</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Mekanisk">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste2" aria-controls="Mekanisk">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Mekanisk</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Hydraulisk">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste3" aria-controls="Hydraulisk">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Hydraulisk</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Elektro">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste4" aria-controls="Elektro">
                <span class="bs-stepper-circle">4</span>
                <span class="bs-stepper-label">Elektro</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Signering">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste5" aria-controls="Signering">
                <span class="bs-stepper-circle">5</span>
                <span class="bs-stepper-label">Signering</span>
            </button>
        </div>
    </div>
    <div class="bs-stepper-content">
        <div class="container">
            <p>Sjekklist har blitt sendt inn</p>
        </div>
    </div>