@model Prosjekt.Models.Checklist.ChecklistViewModel;
@{
    ViewData["Title"] = "Sjekkliste";
}

<div class="card w-75 mx-auto" style="margin-top: 50px;">
<div class="p-3 text-center">
    <h2>Nøsted&, avd. Jåbekk</h2>
    <h3>Kvalitetsskring</h3>
    <h3>Registrering</h3>
</div>

<!-- hentet og modifsert fra https://codepen.io/Johann-S/pen/yQKmMG?editors=1010 -->
<div id="stepperSjekkliste" class="bs-stepper">
    <div class="bs-stepper-header flex-wrap" role="tablist">
        <div class="step" data-target="#Generell">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste1" aria-controls="Generell">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Generell</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Mekanisk">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste2" aria-controls="Mekanisk">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Mekanisk</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Hydraulisk">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste3" aria-controls="Hydraulisk">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Hydraulisk</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Elektro">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste4" aria-controls="Elektro">
                <span class="bs-stepper-circle">4</span>
                <span class="bs-stepper-label">Elektro</span>
            </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#Signering">
            <button type="button" class="btn btn-link step-trigger" role="tab" id="stepperSjekkliste5" aria-controls="Signering">
                <span class="bs-stepper-circle">5</span>
                <span class="bs-stepper-label">Signering</span>
            </button>
        </div>
    </div>
    <div class="bs-stepper-content">
        @using (Html.BeginForm("Add", "Sjekkliste"))
                    {
                            @Html.AntiForgeryToken()
            <!-- Generell informasjon som er ikke avhengig av avdeling-->
    <div class="cust-margin"></div>
            <div id="Generell" role="tabpanel" class="bs-stepper-pane active dstepper-block">
                <div class="p-3">
                    <div class="cm-container">
                        <div class="form-group">
                            <h3 style="margin-top: 50px;">Produkt </h3>
                            <hr class="mt-2 mb-3" />
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="serieNr"><h6>Serienummer</h6></label>
                                        <input type="text" class="form-control" id="SerialNr_str" asp-for="SerialNr_str">
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="type"><h6>Type</h6></label>
                                        <input type="text" class="form-control" id="type" asp-for="Type_str">
                                    </div>
                                </div>
                            </div>
                            <h3 style="margin-top: 50px;">Generell info</h3>
                            <hr class="mt-2 mb-3" />
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="Procedure_str"><h6>Prosedyre</h6></label>
                                        <input type="text" class="form-control" id="Procedure_str" asp-for="Procedure_str">
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="Starting_Date"><h6>Dato</h6></label>
                                        <input type="date" class="form-control" id="Starting_Date" asp-for="Starting_Date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="Prepared_by_str"><h6>Utarbeidet av</h6></label>
                                    <input type="text" class="form-control" id="Prepared_by_str" asp-for="Prepared_by_str">
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="form-group">
                                    <label for="DocID_str"><h6>Dokumenter nummer</h6></label>
                                    <input type="text" class="form-control" id="DocID_str" asp-for="DocID_str">
                                </div>
                            </div>
                        </div>
                        <h3 style="margin-top: 50px;">Generell service</h3>
                        <hr class="mt-2 mb-3"/>
                       <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="xx_bar"><h6>xx-Bar</h6></label>
                                        <input type="text" class="form-control" id="xx_bar" asp-for="xx_Bar_str">
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="test-vnsj"><h6>Test vinsj og kjør alle funskjoner</h6></label>
                                        <input type="text" class="form-control" id="test-vnsj" asp-for="Test_winch">
                                    </div>
                                </div>
                       </div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="rekkratt"><h6>I rekkratt KN</h6></label>
                                        <input type="text" class="form-control" id="rekkratt" asp-for="Traction_force_Kn">
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-group">
                                        <label for="bremseKraft"><h6>Bremse kraft KN</h6></label>
                                        <input type="text" class="form-control" id="bremseKraft" asp-for="Brake_force">
                                    </div>
                                </div>
                            </div>

                            <!-- TODO Fikse på knappe størrelse-->
                            <div class="row" style="margin-top: 50px;">

                                <button id="buttonHome" type="button" class="col-2 btn p-1 btn-primary m-2 float-right mx-auto" onclick="stepper1.next()">Neste</button>
                            </div>
                      </div>     
                    </div>
                </div>

            <!-- Form for den mekaniske avdelingen -->
            <div id="Mekanisk" role="tabpanel" class="bs-stepper-pane">
                <div class="outer-container"> 
                <div class="p-3">
                <div class="form-group">
                    <fieldset class="btn-group w-100 " role="group" aria-label="Clutch_Plate">
                        <div class="container">
                            <div class="row p-3">
                                <div class="col-4">
                                </div>
                                <div class="col text-center check-header">
                                    <h5>OK</h5>
                                </div>
                                <div class="col text-center check-header">
                                    <h5>Skiftes</h5>
                                </div>
                                <div class="col text-center check-header">
                                    <h5>Defekt</h5>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-4 border p-2">
                                    <h6>Sjekk Clutch lammer for slitjase</h6>
                                </div>

                                <div class="col text-center border p-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Clutch_Plate" autocomplete="off" value="Ok" asp-for="Clutch_Plate">
                                    </div>
                                </div>
                                <div class="col text-center border p-2">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="Clutch_Plate"  autocomplete="off" value="Bor_skiftes" asp-for="Clutch_Plate">

                                    </div>
                                </div>
                                <div class="col text-center border p-2">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-input" name="Clutch_Plate" autocomplete="off" value="Defekt" asp-for="Clutch_Plate">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Check_Brakes">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk bremser. Bånd/pal</h6>
                                        </div>

                                    <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Check_Brakes" autocomplete="off" value="Ok" asp-for="Check_Brakes">
                                            </div>
                                        </div>
                                    <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Check_Brakes" autocomplete="off" value="Skiftes" asp-for="Check_Brakes">

                                            </div>
                                        </div>
                                    <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Check_Brakes" autocomplete="off" value="Defekt" asp-for="Check_Brakes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Bearing_drum">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                                <h6>Sjekk lager for trommel</h6>
                                            </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Bearing_drum" autocomplete="off" value="Ok" asp-for="Bearing_drum">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Bearing_drum" autocomplete="off" value="Skiftes" asp-for="Bearing_drum">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Bearing_drum" autocomplete="off" value="Defekt" asp-for="Bearing_drum">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="PTO_and_storage">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk PTO og opplagring</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="PTO_and_storage" autocomplete="off" value="Ok" asp-for="PTO_and_storage">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="PTO_and_storage" autocomplete="off" value="Skiftes" asp-for="PTO_and_storage">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="PTO_and_storage" autocomplete="off" value="Defekt" asp-for="PTO_and_storage">
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Chain_tensioners">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk kjedestrammer</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Chain_tensioners" autocomplete="off" value="Ok" asp-for="Chain_tensioners">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Chain_tensioners" autocomplete="off" value="Skiftes" asp-for="Chain_tensioners">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Chain_tensioners" autocomplete="off" value="Defekt" asp-for="Chain_tensioners">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Wire">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk wire</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Wire" autocomplete="off" value="Ok" asp-for="Wire">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Wire" autocomplete="off" value="Skiftes" asp-for="Wire">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Wire" autocomplete="off" value="Defekt" asp-for="Wire">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Pinion_bearing">
                                <div class="container">
                                    <div class="row">
                                    <div class="col-4 border p-2">
                                        <h6>Sjekk pinion lager</h6>
                                    </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Pinion_bearing" autocomplete="off" value="Ok" asp-for="Pinion_bearing">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Pinion_bearing" autocomplete="off" value="Skiftes" asp-for="Pinion_bearing">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Pinion_bearing" autocomplete="off" value="Defekt" asp-for="Pinion_bearing">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Wedge_on_sprocket">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk kile på kjedehjul</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Wedge_on_sprocket" autocomplete="off" value="Ok" asp-for="Wedge_on_sprocket">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Wedge_on_sprocket" autocomplete="off" value="Skiftes" asp-for="Wedge_on_sprocket">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Wedge_on_sprocket" autocomplete="off" value="Defekt" asp-for="Wedge_on_sprocket">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid email.
                        </div>                       
                    <div class="row justify-content-md-center">
                        <button id="buttonHome" type="button" class="col-2 btn  p-1 btn-primary m-2 float-right" onclick="stepper1.previous()">Forrige</button>

                        <button id="buttonHome" type="button" class="col-2 btn  p-1 btn-primary m-2 float-right" onclick="stepper1.next()">Neste</button>
                    </div>
                </div>  
            </div>
          </div>

            <!-- Form for Hydraulisk avdeling -->
            <div id="Hydraulisk" role="tabpanel" class="bs-stepper-pane">
            <div class="outer-container"> 
                <div class="p-3">
                    <div class="form-group">
                        <fieldset class="btn-group w-100 " role="group" aria-label="Hydraulic_cylinder">
                            <div class="container">
                                <div class="row p-3">
                                    <div class="col-4">
                                    </div>
                                    <div class="col text-center check-header">
                                        <h5>OK</h5>
                                    </div>
                                    <div class="col text-center check-header">
                                        <h5>Skiftes</h5>
                                    </div>
                                    <div class="col text-center check-header">
                                        <h5>Defekt</h5>
                                    </div>
                                    </div>
                                <div class="row">
                                    <div class="col-4 border p-2">
                                            <h6>Sjekk hydraulikk sylinder for lekkasje</h6>
                                    </div>

                                    <div class="col text-center border p-2">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hydraulic_cylinder" autocomplete="off" value="Ok" asp-for="Hydraulic_cylinder">
                                            </div>
                                    </div>
                                    <div class="col text-center border p-2">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hydraulic_cylinder" autocomplete="off" value="Skiftes" asp-for="Hydraulic_cylinder">

                                        </div>
                                    </div>
                                    <div class="col text-center border p-2">
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hydraulic_cylinder" autocomplete="off" value="Defekt" asp-for="Hydraulic_cylinder">
                                            </div>
                                    </div>
                                 </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Hoses">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk slanger for skader og lekkasje</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hoses" autocomplete="off" value="Ok" asp-for="Hoses">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hoses" autocomplete="off" value="Skiftes" asp-for="Hoses">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hoses" autocomplete="off" value="Defekt" asp-for="Hoses">
                                            </div>
                                        </div>
                                    </div>    
                                </div>                            
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Hydraulic_block">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Test hydralikkblokk i testbenk</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hydraulic_block" autocomplete="off" value="Ok" asp-for="Hydraulic_block">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hydraulic_block" autocomplete="off" value="Skiftes" asp-for="Hydraulic_block">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Hydraulic_block" autocomplete="off" value="Defekt" asp-for="Hydraulic_block">
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Oil_tank">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk olje i tank</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Oil_tank" autocomplete="off" value="Ok" asp-for="Oil_tank">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Oil_tank" autocomplete="off" value="Skiftes" asp-for="Oil_tank">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Oil_tank" autocomplete="off" value="Defekt" asp-for="Oil_tank">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="HOil_gearbox">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk olje på gir boks</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" autocomplete="off" value="Ok" asp-for="HOil_gearbox">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" autocomplete="off" value="Skiftes" asp-for="HOil_gearbox">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input"autocomplete="off" value="Defekt" asp-for="HOil_gearbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Ringe_cylinder_and_replace_seals">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk Ringsylinder åpne og skift tetninger</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Ringe_cylinder_and_replace_seals" autocomplete="off" value="Ok" asp-for="Ringe_cylinder_and_replace_seals">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Ringe_cylinder_and_replace_seals" autocomplete="off" value="Skiftes" asp-for="Ringe_cylinder_and_replace_seals">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Ringe_cylinder_and_replace_seals" autocomplete="off" value="Defekt" asp-for="Ringe_cylinder_and_replace_seals">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                        <fieldset class="btn-group w-100" role="group" aria-label="Brake_cylinder_and_replace_seals">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4 border p-2">
                                            <h6>Sjekk bremse sylinder åpne og skrifft tetninger</h6>
                                        </div>

                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Brake_cylinder_and_replace_seals" autocomplete="off" value="Ok" asp-for="Brake_cylinder_and_replace_seals">
                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Brake_cylinder_and_replace_seals" autocomplete="off" value="Skiftes" asp-for="Brake_cylinder_and_replace_seals">

                                            </div>
                                        </div>
                                        <div class="col text-center border p-2">
                                            <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" name="Brake_cylinder_and_replace_seals" autocomplete="off" value="Defekt" asp-for="Brake_cylinder_and_replace_seals">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    <div class="row justify-content-md-center">
                        <button id="buttonHome" type="button" class="col-2 btn w-50 p-1 btn-primary m-2 float-right" onclick="stepper1.previous()">Forrige</button>

                        <button id="buttonHome" type="button" class="col-2 btn w-50 p-1 btn-primary m-2 float-right" onclick="stepper1.next()">Neste</button>
                    </div>
                    
                </div>
                </div>
            </div>

            <!-- form for Elektro avdeling -->
                        <div id="Elektro" role="tabpanel" class="bs-stepper-pane">
                            <div class="outer-container">
                                <div class="p-3">
                                    <div class="form-group">
                                        <fieldset class="btn-group w-100 " role="group" aria-label="Wiring_on_winch">
                                            <div class="container">
                                                <div class="row p-3">
                                                    <div class="col-4">
                                                    </div>
                                                    <div class="col text-center check-header">
                                                        <h5>OK</h5>
                                                    </div>
                                                    <div class="col text-center check-header">
                                                        <h5>Skiftes</h5>
                                                    </div>
                                                    <div class="col text-center check-header">
                                                        <h5>Defekt</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 border p-2">
                                                        <h6>Sjekk ledningsnett på vinsj</h6>
                                                    </div>

                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="Wiring_on_winch"  autocomplete="off" value="Ok" asp-for="Wiring_on_winch">
                                                        </div>
                                                    </div>
                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="Wiring_on_winch" autocomplete="off" value="Skiftes" asp-for="Wiring_on_winch">
                                                        </div>
                                                    </div>
                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="Wiring_on_winch" autocomplete="off" value="Defekt" asp-for="Wiring_on_winch">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="form-group">
                                        <fieldset class="btn-group w-100" role="group" aria-label="Test_radio">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-4 border p-2">
                                                        <h6>Sjekk og test radio</h6>
                                                    </div>

                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="Test_radio" autocomplete="off" value="Ok" asp-for="Test_radio">
                                                        </div>
                                                    </div>
                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="Test_radio" autocomplete="off" value="Skiftes" asp-for="Test_radio">

                                                        </div>
                                                    </div>
                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="Test_radio" autocomplete="off" value="Defekt" asp-for="Test_radio">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="form-group">
                                        <fieldset class="btn-group w-100" role="group" aria-label="EOil_gearbox">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-4 border p-2">
                                                        <h6>Sjekk og test knappekasse</h6>
                                                    </div>

                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="EOil_gearbox" autocomplete="off" value="Ok" asp-for="EOil_gearbox">
                                                        </div>
                                                    </div>
                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="EOil_gearbox" autocomplete="off" value="Skiftes" asp-for="EOil_gearbox">

                                                        </div>
                                                    </div>
                                                    <div class="col text-center border p-2">
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" class="form-check-input" name="EOil_gearbox" autocomplete="off" value="Defekt" asp-for="EOil_gearbox">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="row justify-content-md-center">
                                        <button id="buttonHome" type="button" class="col-2 btn w-50 p-1 btn-primary m-2 float-right" onclick="stepper1.previous()">Forrige</button>

                                        <button id="buttonHome" type="button" class="col-2 btn w-50 p-1 btn-primary m-2 float-right" onclick="stepper1.next()">Neste</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
            <div id="Signering" role="tabpanel" class="bs-stepper-pane">

            <div class="align-items-center">
            <!-- Må kanskje flyttet som tar med alle formene og kan sjekke den-->
                    <div class="row">
                        <div class="col">
                            <div class="col text-center">
                                <div class="form-group">
                                    <label for="FirstName_str" style="font-weight: bold;">Fornavn</label>
                                    <input type="text" class="form-control" id="FirstName_str" asp-for="FirstName_str">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col text-center">
                                <div class="form-group">
                                    <label for="LastName_str" style="font-weight: bold;">Etternavn</label>
                                    <input type="text" class="form-control" id="LastName_str" asp-for="LastName_str">
                                </div>
                            </div>
                        </div>
                       <div class="cust-margin"></div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="signDate"><h6>Dato</h6></label>
                                    <input type="date" class="form-control" id="signDate" asp-for="signDate">
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-4">
                            <label for="kommentar"><h5>Kommentar:</h5></label>
                            <textarea class="form-control" rows="5" id="kommentar" asp-for="comment_str"></textarea>
                        </div>
                        <div class="row justify-content-md-center">
                            <button id="buttonHome" type="button" class="col-2 btn w-50 p-1 btn-primary m-2 float-right" onclick="stepper1.previous()">Forrige</button>

                            <button id="buttonHome" type="submit" class="col-2 w-50 p-1 btn btn-success m-2 float-left">Send</button>
                        </div>
                    </div>
                   
                </div>
            </div>
            }
    </div>
</div>
</div>

<script src="bs-stepper.min.js"> </script>
 <script>

     // TODO: fikse som den sjekker av riktig
    var field = document.querySelectorAll('fieldset')
    for (var i = 0; i < field.length; i++) {
        var rad = field[i].querySelectorAll('input[type=radio]')
        for (var j = 0; j < rad.length; j++) {
            var stateClick = [false, false, false];
            rad[j].addEventListener('click', function () {
                var pos;
                //sjekker om andre radio button er allerede sjekk av
                for (var x = 0; x < rad.length; x++) {
                    

                    if(rad[x] == this) {
                        pos = x
                        console.log(pos)
                    }

                    if  (rad[x].checked == true && !(rad[x] == this)) {
                        rad[x].checked = false
                        stateClick[x] = false;
                    }
                }

                // sjekker om er den sjekk av, hvis ja så setter sjekk til false
                if (this.checked == true && stateClick == true) {
                    this.checked = false;
                    stateClick[pos] = false;
                } else {
                    stateClick[pos] = true;
                    this.checked = true
                }
            });

     }
    }



    var stepper1 = new Stepper(document.querySelector('#stepperSjekkliste'), {
        linear: false
    });

</script>