
@{
    ViewData["Title"] = "Brukeroversikt";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nøsted & Brukeroversikt</title>
    <link href="Brukeroversikt.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container text-center mt-5">
        <header>
            <h1 class="h1-m">Brukeroversikt</h1>
        </header>
    </div>

    <main>
        <div class="container text-center mt-4 mb-4">
            @using (Html.BeginForm("", ""))
             {
            @Html.AntiForgeryToken()
            <form class="searchbar" action="/search" method="get">
               <div class="form-group row">
                    <div class="col-xs-3">
                        <input type="search" class="form-control text-center mb-3" name="q" id="search-box-m" placeholder="AnsattID, Fullt navn, Stilling...">
                    </div>
                </div>

                <div class="search-m">
                    <button type="submit" class="btn btn-primary" id="searchbutton-m">Søk</button><!-- søkeknapp- må finne ut hvordan man kan filtrere søkene KONTROLLER -->
                </div>
            </form>
             }
        </div>

        <div style="overflow-x:auto;">

        <div class="container">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>AnsattID</th>
                        <th>Fullt navn</th>
                        <th>Stilling</th>
                        <th>Rettigheter</th>
                    </tr>
                </thead>
                <tbody id="userTable">
                    <tr>
                        <td>1111</td>
                        <td>Atle Antonsen</td>
                        <td>Administrator</td>
                        <td>Legge til/fjerne verktøy</td>
                    </tr>
                    <tr>
                        <td>2222</td>
                        <td>Justin Bieber</td>
                        <td>Mekaniker</td>
                        <td>Sjekkliste</td>
                    </tr>
                    <tr>
                        <td>3333</td>
                        <td>Ariana Grande</td>
                        <td>Kundebehandler</td>
                        <td>Endre/legge til/fjerne serviceordre</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // filtrering av søk
            $(document).ready(function () {
                $("#search-box-m").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#userTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        </div>
    </main>
</body> 
   

</html>
