@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    <a target="_blank" href="https://icons8.com/icon/53430/address">Map</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>
<p>
    <a target="_blank" href="https://icons8.com/icon/9418/headset">Headset</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>
<p>
    <a target="_blank" href="https://icons8.com/icon/12623/email">Email</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>

<p>
    <a target="_blank" href="https://icons8.com/icon/8113/menu">Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>

<p>
    <a target="_blank" href="https://icons8.com/icon/Xy10Jcu1L2Su/instagram">Instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>

<p>
    <a target="_blank" href="https://icons8.com/icon/uLWV5A9vXIPu/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>

<p>
    <a target="_blank" href="https://icons8.com/icon/13930/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>