
@model List<Prosjekt.Models.Notifikasjon>

@{
    ViewData["Title"] = "Notifikasjon";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/notifikasjon.css" />


<div class="card shadow-sm mt-3 mb-cus">
    <div class="card-header cus-bg">
        <h3>Varsle avdeling(er)</h3>
    </div>
    <div class="card-body py-2">
        <form asp-action="LeggTilNotifikasjon" method="post">
            <div class="row">
                <div class="col-12 col-md-4 mb-3">
                    <label for="melding" class="form-label mb-2 fw-bold">Melding</label>
                    <input type="text" class="form-control" id="melding" name="Melding" required>
                </div>
                <div class="col-12 col-md-2 mb-3">
                    <label for="avdeling" class="form-label mb-2 fw-bold">Fra</label>
                    <select class="form-control" id="avdeling" name="Avdeling" required>
                        <option value="Servicebehandler">Servicebehandler</option>
                        <option value="Elektro">Elektro</option>
                        <option value="Hydro">Hydro</option>
                        <option value="Mekanisk">Mekanisk</option>
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-3">
                    <label for="tilAvdeling" class="form-label mb-2 fw-bold">Til</label>
                    <select class="form-control" id="tilAvdeling" name="TilAvdeling" required>
                        <option value="Alle">Alle</option>
                        <option value="Servicebehandler">Servicebehandler</option>
                        <option value="Elektro">Elektro</option>
                        <option value="Hydro">Hydro</option>
                        <option value="Mekanisk">Mekanisk</option>
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-3">
                    <label for="status" class="form-label mb-2 fw-bold">Status</label>
                    <select class="form-control" id="status" name="Status" required>
                        <option value="Fullført">Fullført</option>
                        <option value="Pågår">Pågår</option>
                    </select>
                </div>
                <div class="col-12 col-md-2 mb-3">
                    <label class="form-label mb-2 fw-bold" style="opacity: 0;">Action</label>
                    <button type="submit" class="btn cus-button w-100">Send ut</button>
                </div>
            </div>
        </form>
    </div>
</div>





@for (int i = Model.Count - 1; i >= 0; i--)
{
    var notifikasjon = Model[i];
    var badgeClass = notifikasjon.Status == "Fullført" ? "bg-success" : "bg-warning";
    var iconClass = notifikasjon.Status == "Fullført" ? "bi-check-square" : "bi-hourglass-split";

    <div class="alert p-3 bg-white rounded-1 mt-4" role="alert">
        <div class="d-flex justify-content-between">
            <span class="text-muted">
                <i class="bi bi-clock-history" style="font-size: 1em;"></i>
                @notifikasjon.DatoTid.ToString("G")
            </span>
            <div class="d-flex align-items-center">
                <span class="bi bi-bookmark me-2" title="Bokmerk melding" onclick="toggleBookmark(this)"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <p class="fs-5 mt-3 mb-2">@notifikasjon.Melding</p>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <i class="bi @iconClass icon-size me-1"></i>
                <span class="badge @badgeClass me-1">@notifikasjon.Status</span>
                <i class="bi bi-house-door division-icon m-1"></i> @notifikasjon.Avdeling
            </div>
        </div>
    </div>

}



<script>function toggleBookmark(element) {
        if (element.classList.contains("bi-bookmark")) {
            element.classList.remove("bi-bookmark");
            element.classList.add("bi-bookmark-fill");
        } else {
            element.classList.remove("bi-bookmark-fill");
            element.classList.add("bi-bookmark");
        }
    </script>
