@model List<Prosjekt.Models.Notifikasjon>

@{
    ViewData["Title"] = "Notifikasjon";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">



@for (int i = Model.Count - 1; i >= 0; i--)
{
    var notifikasjon = Model[i];
    var badgeClass = notifikasjon.Status == "Fullført" ? "bg-success" : "bg-warning";
    var iconClass = notifikasjon.Status == "Fullført" ? "bi-check-square" : "bi-hourglass-split";

    <div class="alert p-3 bg-white rounded-1 mt-4" role="alert">
        <div class="d-flex justify-content-between">
            <span class="text-muted">
                @notifikasjon.DatoTid.ToString("dd. MMMM 'kl.' HH:mm")
            </span>
            <div class="d-flex align-items-center">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <p class="fs-5 mt-3 mb-2">@notifikasjon.Melding</p>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <i class="bi @iconClass icon-size me-1"></i>
                <span class="badge @badgeClass me-1">@notifikasjon.Status</span>
                <i class="bi bi-clipboard m-1"></i> @notifikasjon.Avdeling
            </div>
        </div>
    </div>
}