@model List<Prosjekt.Models.ArbeidsdokumentModelView>

@{
    ViewData["Title"] = "Arbeidsdokument";
}
<script src="~/js/Arbeidsdokument.js"></script>
  <div class="container text-center mt-4 mb-4"> 
    <div class="container">
        <h1 class="text-center mt-5 mb-4">Arbeidsdokument</h1>
        <div class="row mb-3">
            <div class="col-md-6 mx-auto">
                <input type="text" id="searchInput" class="form-control" placeholder="Søk igjennom arbeidsdokumentet">
                <div id="selectedColumn" class="input-group-append">Søk i: Alle kolonner</div>
            </div>
            <div class="row mt-3 mb-3"> 
              <div class="col-md-12">
                   
                    
                    
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" data-column-index="0" href="#">Booket service uke</a>
                            <a class="dropdown-item" data-column-index="1" href="#">Avtalt levering ddmmåå</a>
                            <a class="dropdown-item" data-column-index="2" href="#">Hendelse mottat og reg. ddmmåå</a>
                            <a class="dropdown-item" data-column-index="3" href="#">Ordrenr</a>
                            <a class="dropdown-item" data-column-index="4" href="#">Produkttype</a>
                            <a class="dropdown-item" data-column-index="5" href="#">Beskrivelse fra kunde</a>
                            <a class="dropdown-item" data-column-index="6" href="#">Kundeinfo</a>
                            <a class="dropdown-item" data-column-index="7" href="#">Produkt mottatt ddmmåå</a>
                            <a class="dropdown-item" data-column-index="8" href="#">Avtalt ferdigstillelse innen ddmmåå</a>
                            <a class="dropdown-item" data-column-index="9" href="#">Service ferdig ddmmåå</a>
                            <a class="dropdown-item" data-column-index="10" href="#">Antall timer på utført service</a>
                            <a class="dropdown-item" data-column-index="11" href="#">Service skjema JA/NEI</a>
                          
                        </div>
                    </div>

                </div>
        </div>
                <div class="table-responsive custom-table-scroll custom-table-scroll-y">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Booket service uke</th>
                            <th>Avtalt levering ddmmåå</th>
                            <th>Hendelse mottat og reg. ddmmåå</th>
                            <th>Ordrenr.</th>
                            <th>Produkttype</th>
                            <th>Beskrivelse fra kunde</th>
                            <th>Kundeinfo</th>
                            <th>Produkt mottatt ddmmåå</th>
                            <th>Avtalt ferdigstillelse innen ddmmåå</th>
                            <th>Service ferdig ddmmåå</th>
                            <th>Antall timer på utført service</th>
                            <th>Service skjema JA/NEI</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- serviceordredata her -->
                        
                        
                        <tr>
                            <td>5</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>1122</td>
                            <td>Produkt A</td>
                            <td>Beskrivelse av ordren fra kunde A</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>2 timer</td>
                            <td>JA</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>2233</td>
                            <td>Produkt B</td>
                            <td>Beskrivelse av ordren fra kunde B</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>8 timer</td>
                            <td>NEI</td>
                        </tr>
                        
                        <tr>
                            <td>6</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>1212</td>
                            <td>Produkt A</td>
                            <td>Beskrivelse av ordren fra kunde A</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>2 timer</td>
                            <td>JA</td>
                        </tr>
                        
                        <tr>
                            <td>6</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>1313</td>
                            <td>Produkt B</td>
                            <td>Beskrivelse av ordren fra kunde B</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>8 timer</td>
                            <td>NEI</td>
                        </tr>
                        
                        <tr>
                            <td>7</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>4444</td>
                            <td>Produkt A</td>
                            <td>Beskrivelse av ordren fra kunde A</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>2 timer</td>
                            <td>JA</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>5544</td>
                            <td>Produkt A</td>
                            <td>Beskrivelse av ordren fra kunde A</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>2 timer</td>
                            <td>JA</td>
                        </tr>
                        
                        <tr>
                            <td>8</td>
                            <td>02-11-23</td>
                            <td>01-11-23</td>
                            <td>0000</td>
                            <td>Produkt B</td>
                            <td>Beskrivelse av ordren fra kunde B</td>
                            <td>Kundeinfo A</td>
                            <td>03-11-23</td>
                            <td>05-11-23</td>
                            <td>06-11-23</td>
                            <td>8 timer</td>
                            <td>NEI</td>
                        </tr>
                         <tr>
                                                    <td>9</td>
                                                    <td>02-11-23</td>
                                                    <td>01-11-23</td>
                                                    <td>1432</td>
                                                    <td>Produkt A</td>
                                                    <td>Beskrivelse av ordren fra kunde A</td>
                                                    <td>Kundeinfo A</td>
                                                    <td>03-11-23</td>
                                                    <td>05-11-23</td>
                                                    <td>06-11-23</td>
                                                    <td>2 timer</td>
                                                    <td>JA</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>02-11-23</td>
                                                    <td>01-11-23</td>
                                                    <td>1111</td>
                                                    <td>Produkt B</td>
                                                    <td>Beskrivelse av ordren fra kunde B</td>
                                                    <td>Kundeinfo A</td>
                                                    <td>03-11-23</td>
                                                    <td>05-11-23</td>
                                                    <td>06-11-23</td>
                                                    <td>8 timer</td>
                                                    <td>NEI</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>2</td>
                                                    <td>02-11-23</td>
                                                    <td>01-11-23</td>
                                                    <td>12345</td>
                                                    <td>Produkt A</td>
                                                    <td>Beskrivelse av ordren fra kunde A</td>
                                                    <td>Kundeinfo A</td>
                                                    <td>03-11-23</td>
                                                    <td>05-11-23</td>
                                                    <td>06-11-23</td>
                                                    <td>2 timer</td>
                                                    <td>JA</td>
                                                </tr>
                                                 <tr>
                                                    <td>3</td>
                                                    <td>02-11-23</td>
                                                    <td>01-11-23</td>
                                                    <td>8888</td>
                                                    <td>Produkt A</td>
                                                    <td>Beskrivelse av ordren fra kunde A</td>
                                                    <td>Kundeinfo A</td>
                                                    <td>03-11-23</td>
                                                    <td>05-11-23</td>
                                                    <td>06-11-23</td>
                                                    <td>2 timer</td>
                                                    <td>JA</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>02-11-23</td>
                                                    <td>01-11-23</td>
                                                    <td>6453</td>
                                                    <td>Produkt B</td>
                                                    <td>Beskrivelse av ordren fra kunde B</td>
                                                    <td>Kundeinfo A</td>
                                                    <td>03-11-23</td>
                                                    <td>05-11-23</td>
                                                    <td>06-11-23</td>
                                                    <td>8 timer</td>
                                                    <td>NEI</td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>5</td>
                                                    <td>02-11-23</td>
                                                    <td>01-11-23</td>
                                                    <td>4352</td>
                                                    <td>Produkt A</td>
                                                    <td>Beskrivelse av ordren fra kunde A</td>
                                                    <td>Kundeinfo A</td>
                                                    <td>03-11-23</td>
                                                    <td>05-11-23</td>
                                                    <td>06-11-23</td>
                                                    <td>2 timer</td>
                                                    <td>JA</td>
                                                </tr>
                                                                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>

    

