@{
    ViewData["Title"] = "Brukerregistrering";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nøsted & Brukerregistrering</title>
    <!--<link href="Brukerregistrering.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container text-center mt-5">
        <header>
            <h1>Legg til bruker</h1>
        </header>
    </div>

    <main>

        @using (Html.BeginForm("RegistreingFrom", "Brukerregistrering"))
        {
            @Html.AntiForgeryToken()
            <form action="post" id="addUserForm" class="needs-validation" novalidate>
                <!-- BYTTE ACTION? MÅ FIKSE KONTROLLER -->
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="form-group text-center">
                                <label for="bilde" class="bilde">
                                    <b>Last opp bilde</b>
                                </label>
                                <input type="file" class="form-control" id="profilbilde" name="Profilbilde" />

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fullt navn"><b>Fullt navn</b></label>
                            <input type="text" class="form-control" placeholder="Fullt navn..." name="Fullt navn" id="fulltnavn" required>
                            <div class="invalid-feedback">
                                Vennligst fyll ut feltet.
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="epost"><b>E-post</b></label>
                            <input type="email" class="form-control" placeholder="E-post..." name="epost" id="epost" required>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="tlf"><b>Telefonnummer</b></label> <!-- pattern="[0-9]{3}&nbsp;[0-9]{2}&nbsp;[0-9]{3}" må fikse kontroller -->
                            <input type="tel" class="form-control" placeholder="Telefonnummer..." name="tlf" id="tlf" maxlength="8" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="adr"><b>Adresse</b></label>
                            <input type="text" class="form-control" placeholder="Adresse..." name="adr" id="adr" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <!-- fikse denne KONTROLLER -->
                            <label for="postnr"><b>Postnummer</b></label>
                            <input type="number" class="form-control" placeholder="Postnummer..." name="postnr" id="postnr" maxlength="4" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="postst"><b>Poststed</b></label>
                            <input type="text" class="form-control" placeholder="Poststed..." name="postst" id="postst" required>
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <!-- kan ta vekk margin fra denne seksjonen hvis det ser rart ut -->
                        <div class="form-group col" id="stillingDropdown">
                            <label for="stilling"><b>Stilling</b></label>
                            <select class="form-control" placeholder="Stilling..." name="stilling" id="stilling" required>
                                <option value="Administrator">Administrator</option>
                                <option value="Kundebehandler">Kundebehandler</option>
                                <option value="Mekaniker">Mekaniker</option>
                            </select>
                        </div>

                        <!-- blir brukt av JS under, hvis input er "mekaniker", så dukker denne subkategorien opp -->
                        <div class="form-group col" id="submekanikerkategori" style="display: none;">
                            <label for="submekaniker"><b>Avdeling</b></label>
                            <select class="form-control" name="submekaniker" id="submekaniker">
                                <option value="elektro">Elektro</option>
                                <option value="hydraulisk">Hydraulisk</option>
                                <option value="mekanisk">Mekanisk</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="ansID"><b>AnsattID</b></label>
                            <input type="number" class="form-control" placeholder="AnsattID..." name="ansID" id="ansID" required>
                        </div>

                        <div class="form-group col">
                            <label for="rettigheter"><b>Rettigheter</b></label>
                            <input type="text" class="form-control" placeholder="Rettigheter..." name="rettigheter" id="rettigheter" list="retthet" required>
                            <datalist id="retthet">
                                <option>Legge til/fjerne bruker</option>
                                <option>Fjerne verktøy fra verktøyliste</option>
                                <option>Redigere serviceordre</option>
                                <option>Legge til ny serviceordre</option>
                            </datalist>
                        </div>
                    </div>
                </div>
                
                <div class="container text-center mt-5 mb-5">
                    <div class="button-m">
                        <button type="submit" class="btn btn-primary" id="button-m">Fullfør</button>
                    </div>
                </div>
            </form>
            
            <!-- melding om at brukeren har blitt lagt til-->
    <div class="container text-center mt-2" style="display: none;" id="alert-m">
        <div class="alert alert-success alert-dismissible" id="success-alert-m">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Brukeren har blitt lagt til! Tilbake til <a href="@Url.Action("BackBrukeroversikt", "Brukeroversikt")" class="alert-link">Brukeroversikt.</a>
        </div>
        <div class="alert alert-danger alert-dismissable" id="error-alert-m">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Vennligst fyll ut alle feltene! Gå tilbake til <a href="@Url.Action("BackBrukeroversikt", "Brukeroversikt")" class="alert-link">Brukeroversikt?</a>
        </div>
        </div>

        <script>
        // bruker lagt til / fyll ut feltene varslinger
            $(document).ready(function () {
                $("#button-m").click(function () {
                    if ($("#addUserForm")[0].checkValidity()) {
                        $("#success-alert-m").show();
                        $("#error-alert-m").hide();
                    } else  {
                        $("#success-alert-m").hide();
                        $("#error-alert-m").show();
                    }
                });
            });
        
            // subkategori for mekaniker drop-down
            var stillingDropdown = document.getElementById("stilling");
            var submekanikerkategoriDiv = document.getElementById("submekanikerkategori");

            stillingDropdown.addEventListener("change", function () {
                if (stillingDropdown.value === "Mekaniker") {
                    submekanikerkategoriDiv.style.display = "block";
                } else {
                    submekanikerkategoriDiv.style.display = "none";
                }
            });</script>
        }
</main>
</body>
</html>